html
{
	width: 350px;

}

.box-1
{
	background-color: #4aaaa5;
	color: white;
	padding-top: 15px;
	width: 250px;
	height: 50px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

#profilePic
{
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.links
{
	margin-left: 200px;
}

body
{
	overflow: auto;
}

#margen
{
	margin-left: 100px;
	margin-right: 100px;
	width: 650px;

}


#content
{
	width: 650px;

}

#topFooter
{
	height: 5px;
	width: 650px;
	background-color: #4aaaa5
}

#footer
{
	color: #777777;
	text-align: center;
	padding: 5px;
	background-color: #666666;
	height: 65px;
    width: 650px;
}


#paragraph
{
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}