.box-1
{
	background-color: #4aaaa5;
	color: white;
	padding-top: 15px;
	width: 250px;
	height: 50px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

#links
{
	float: left;
}

#content
{
	width: 650px;

}

#completeArea
{
	background-color: lightGray;
	width: 960px;
}

#topFooter
{
	height: 5px;
	width: 650px;
	background-color: #4aaaa5
}

#footer
{
	color: #777777;
	text-align: center;
	padding: 5px;
	background-color: #666666;
	height: 65px;
    width: 650px;
}


section
{
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}